.button {
  background: #55aa40;
  border-radius: 50px;
  color: white;
  font-size: 30px;
  padding: 16px 25px 16px 25px;
  text-decoration: none;
  margin-bottom: .5em;
}

.newGame {
  background: #f7801f;
  display: none;
}

.container {
  max-width: 80%;
  margin: auto;
  text-align: center;
  background-color: #1f539c;
}

.dice {
  text-align: center;
  margin: 3em;
  display: inline-block;
}

body {
  background-color: #1f539c;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 4.5rem;
  color: white;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: white;
}

p {
  font-size: 1.8rem;
  color: white;
}

.scoreboard {
  color: white;
  margin: auto;
  margin-bottom: 2em;
  font-size: 1.5em;
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid black;
  padding: .5em;
}

.button:hover {
  background: #232931;
  text-decoration: none;
}
